<div class="container">
    <form [formGroup]="formGroup">
        <div formArrayName="rules">
            <div class="d-flex" *ngFor="let rule of formGroup.controls.rules.controls; let i=index">
                <div [formGroupName]="i">
                    <input formControlName="id" placeholder="id" type="text" class="mr-2">
                    <input formControlName="name" placeholder="name" type="text" class="mr-2">
                    <button class="btn-danger" (click)="deleteRule(i)">Delete</button>
                </div>
                <app-rule [formGroup]="formGroup.controls.rules.controls[i]"></app-rule>
            </div>
        </div>
    </form>
</div>