<div class="container group" style="padding: 20px">
  <form [formGroup]="groupForm">
      <div formArrayName="mainRule" class="mainRule">
        <div *ngFor="let group of groupForm.controls.mainRule.controls; let i = index" class="item">
          <div [formGroupName]="i" class="item">
              <div class="row d-flex">
                  <div class="col mb-4">
                    <button>AND</button>
                    <button>OR</button>
                  </div>
                  <div class="col-6"></div>
                  <div class="col">
                    <button class="btn-success" (click)="addRule()">Add rule</button>
                    <button class="btn-success" (click)="addGroup()">Add group</button>
                  </div>
                
              </div> 
            <app-rule [formGroup]="groupForm.controls.mainRule.controls[i]"></app-rule>
          </div>
        </div>
      </div>
    </form>
</div> 
  
