<div class="container group" style="padding: 20px">
  <form [formGroup]="groupForm">
    <div class="header">
      <div class="condition">
        <button>AND</button>
        <button>OR</button>
      </div>
      <div class="action">
        <button class="btn-success" (click)="addRule()">Add rule</button>
        <button class="btn-success" (click)="addGroup()">Add group</button>
        <button class="btn-danger" *ngIf="groupLevel !=0" (click)="deleteGroup(groupForm.controls['id'].value)">Delete</button>
      </div>
    </div>
    <div formArrayName="rules" class="rules">
      <div *ngFor="let rule of groupForm.controls.rules.controls; let i = index" class="item" [formGroupName]="i">
            <app-group *ngIf="rule.controls.type.value === 'group'" [groupForm]="rule" [groupLevel]="i" [groupIndex]="i" (handleDeleteGroup)="deleteChildGroup($event)" ></app-group>
            <app-rule *ngIf="rule.controls.type.value === 'rule'" [formGroup]="rule" [ruleIndex]='i' (handleDeleteRule)="deleteChildRule($event)"></app-rule> 
      </div>
    </div>
</form>
</div>